.aboutUs {
    justify-content: center;
    align-items: center;
    padding: 72px 0 69px 0;
    flex-wrap: wrap-reverse;



    &-img {
        width: 100%;
        max-width: 645px;
        height: 645px;
        margin-left: 30px;
        background-image: url("/src/img/aboutUs-img.png");
        background-repeat: no-repeat;
        background-size: 100%;


    }


    &-banner {
        margin-left: 48px;
        margin-bottom: 59px;
        max-width: 535px;

        &>h2 {
            margin-bottom: 32px;
        }

    }

    @media (max-width:851px) {
        &-img {
            margin-left: 0;
        }

    }

    @media (max-width:703px) {
        padding: 72px 20px;

        &-img {
            max-width: 450px;
            height: 450px;
        }

        &-banner {
            text-align: center;
            margin: 0;
            margin-bottom: 30px;

            &>h2 {
                font-size: 2.1rem;
            }

            &>p {
                font-size: 1.1rem;
            }
        }
    }

    @media (max-width:514px) {
        padding-bottom: 30px;

    }
}