.aboutUs {
    background-color: $colorBackgroundMain;
    justify-content: center;
    align-items: center;
    padding: 120px 0 205px 0;
    flex-wrap: wrap-reverse;



    &-img {
        width: 100%;
        max-width: 645px;
        height: 645px;
        background-image: url("/src/img/aboutUs-img.png");
        background-repeat: no-repeat;
        background-size: 100%;


    }


    &-banner {
        width: 100%;
        max-width: 545px;
        color: $colorMain;
        height: max-content;
        margin-left: 38px;

        &>h1 {
            font-weight: 100;
            font-size: 3.1rem;
            margin-bottom: 20px;
        }

        &>p {
            font-size: 2.1rem;
            margin: 0;
        }

    }
}