.aboutUs {
    justify-content: center;
    align-items: center;
    padding: 120px 0 69px 0;
    flex-wrap: wrap-reverse;



    &-img {
        width: 100%;
        max-width: 645px;
        height: 645px;
        background-image: url("/src/img/aboutUs-img.png");
        background-repeat: no-repeat;
        background-size: 100%;


    }


    &-banner {
        margin-left: 38px;
    }
}