.enjoyBestMeal {
    align-items: center;
    justify-content: space-between;
    background-color: $colorOrange;
    height: 500px;

    &-img {
        width: 100%;
        max-width: 628px;
        height: 648px;

        background-image: url("/src/img/best-meal-img.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
    }

    &-banner {
        margin: 7px 218px 56px 20px;
        padding-right: 10px;
        padding-left: 17px;
        &>p{
            font-size: 2.05rem;
            margin-top: 29px;
        }
    }

}