.foodQuality {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 512px 0 980px 0;
    background-image: url("/src/img/OutFoodQuality-img2.png"), url("/src/img/OutFoodQuality-background.png"), url("/src/img/OutFoodQuality-img1.png"), url("/src/img/OutFoodQuality-img3.png");
    background-repeat: no-repeat;
    background-size: 61%, 100%, 30%, 36%;
    background-repeat: no-repeat;
    background-position: right 761px, 0, right top, left 1153px;


    &-banner {
        margin-left: 186px;
    }
}