.footer {
    flex-direction: column;
    align-items: center;
    background-color: $colorFooterBack;
    padding: 62px 0 132px 0;

    &-logo {
        position: relative;
        margin-left: 120px;

        &>h1 {
            font-weight: 100;
            color: $colorMain;
            font-size: 3.26rem;
            margin: 30px 0;
        }

        &::after {
            content: "";
            position: absolute;
            background-image: url("/src/img/logo/footer-logo.webp");
            background-position: center;
            background-size: 100%;
            width: 103px;
            height: 80px;
            top: 20px;
            left: -123px;



        }
    }

    &-nav {
        width: 100%;
        max-width: 808px;
        margin: 36px 0 44px 0;

        &>ul {
            margin: 0;
            padding: 0;
            justify-content: space-between;
            width: 100%;

            a {
                text-decoration: none;
                color: $colorMain;
                font-family: $fontFooterNav;
                font-weight: bold;
                font-size: 1.3rem;

                &:hover{
                    color: $colorOrange;
                }
            }
        }
    }

    &-icon{
        justify-content: space-between;
        width: 100%;
        max-width: 254px;
        a{
            width: 45px;
            height: 45px;
            background-color: $colorMain;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $colorFooterBack;
            font-size: 1.65rem;

            &:hover{
                color: $colorOrange;
            }
        }
    }

    @media (max-width:828px) {
        &-nav{
            &>ul{
                flex-wrap: wrap;
                padding: 0 20px;
                &>li{
                    margin: 10px;
                }
            }
        }
        
    }
    @media (max-width:402px) {
        padding-bottom: 57px;
        &-logo{
            margin-left: 140px;
            margin-right: 20px;
        }
        
    }
}