.header {
    justify-content: space-around;
    position: fixed;
    z-index: 11111;
    padding-top: 37px;
    left: 0;
    right: 0;
    align-items: center;

    &-navLeft {
        width: 100%;
        max-width: 390px;
        padding-right: 9px;

        &>ul {
            margin: 0;
            padding: 0;
            margin-right: 33px;
            justify-content: space-between;

        }


    }

    &-logo {
        flex-direction: column;
        align-items: center;
        position: relative;
        padding-top: 49px;

        &>h1 {
            min-width: max-content;
            margin: 0;
            font-size: 1.3rem;
            font-weight: 100;
        }

        &>p {
            margin: 0;
            font-size: 0.7rem;
        }

        &::after {
            position: absolute;
            content: "";
            width: 54px;
            height: 40px;
            background-image: url("/src/img/logo/logo.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 100%;
            top: 3px;
        }
    }


    &-navRight {
        width: 100%;
        max-width: 390px;
        padding-left: 36px;

        &>ul {
            margin: 0;
            padding: 0;
            justify-content: space-between;

            &>:last-child {
                margin-right: 80px;
            }

        }


    }

    @media (max-width:1000px) {
        &-navLeft {
            margin-left: 20px;
        }
    }

    @media (max-width:855px) {

        justify-content: flex-start;

        &-logo {
            display: none;
        }

        &-navRight {
            position: absolute;
            margin-top: 60px;
            right: 0;

            &>ul {
                &>:last-child {
                    margin-right: 20px;
                }
            }
        }
    }
}