body {
    font-family: $fontMain;
    background-color: $colorBackgroundMain;
}

html {
    box-sizing: border-box;
@media (max-width:508px) {
    font-size: 14px;
    
}
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li {
    list-style: none;
}

a {
    transition: color 0.3s;
}