.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}

.colorMain {
    color: $colorMain;
}

.active {
    color: $colorOrange;
}

.hover {
    text-decoration: none;

    &:hover {
        color: $colorOrange;

    }
}

.transition {
    transition: all 0.3s;
}