section.enjoyBestMeal.d-flex
    .enjoyBestMeal-img 
    .enjoyBestMeal-banner.banner 
        h2 Enjoy Best Meal
        p Lorem ipsum dolor sit amet, con- sectetur adipiscing elit, sed do ei- usmod tempor incididunt ut labore et dolore magna