section.foodQuality
    article.foodQuality-banner.banner
        h1 Our Food Quality
        p Lorem ipsum dolor sit amet, con- sectetur adipiscing elit, sed do ei- usmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. 

    