header.header.d-flex 
    nav.header-navLeft
        ul.d-flex 
            -var menuLeft = ["home", "about", "menus", "offers"]
            each name in menuLeft 
                li 
                    a.uppercase.colorMain.hover.pointer(id=name)=name
    .header-logo.d-flex.colorMain
        h1 Food Lover
        p Restaurant
    nav.header-navRight
        ul.d-flex 
            -var menuLeft = ["gallery", "contact", "blog"]
            each name in menuLeft 
                li 
                    a.uppercase.colorMain.pointer.hover(id=name)=name  

