.hero.d-flex 
    .hero-banner
    .hero-img.transition
    article.hero-ContactUs
        h2 Contact Us For Best Breakfast 
        p Lorem ipsum dolor sit amet, consectetur ad- ipiscing elit, sed do eiusmod tempor incidi- dunt ut labore et dolore magna.
        button.d-flex  Contact Us