section.hero.d-flex 
    .hero-banner
        video(src="./video/heroBanner.mp4" width="100%" autoplay playsinline loop muted)
    .hero-img
        img(src="./img/hero-img.png" alt="Breakfast")
    article.hero-ContactUs
        h1 Contact Us For Best Breakfast 
        p Lorem ipsum dolor sit amet, consectetur ad- ipiscing elit, sed do eiusmod tempor incidi- dunt ut labore et dolore magna.
        button.d-flex  Contact Us